.footercard{
    position: fixed;
    display:flex;
    height:5%;
    width: 90%;
    bottom: 0;
    margin-left: -70px;
    background-color: #ffffff;
    justify-content: flex-start;
    

}

.footercardc1{
    display: flex;
    flex-direction: row;
    height:100%;
    width: 95%;

    justify-content: center;

    
}

.footercardc12{
    display: flex;
    flex-direction: row;
    width:80%;

    border: white;
    border-top: gray;
    border-style: solid;
    border-width: 1px;
    
}
.footercardc121{
    display: flex;
    flex-direction: row;
    width:45%;
    
    align-items: center;
    justify-content: flex-start;

}
.footercardc121 >div{
    margin-left: 2%;
    font-family:"Roboto" ;
    font-style: normal;
    font-weight: normal;
    font-size: 0.7vw;
    color:#255398;
}
.footercardc122{
    display: flex;
    width:55%;
    
    align-items: center;
    justify-content: flex-end;

}
.footercardc122 p{
font-family:"Roboto" ;
font-style: normal;
font-weight: normal;
font-size: 0.8vw;
color:#255398;


}
@media only screen and (max-width: 1600px){
.footercardc12{
    width:70%;
}
    }
    @media only screen and (max-width: 900px){
        .footercardc12{
            width:60%;
        }
            }