@import url('https://fonts.googleapis.com/css?family=Poppins');
.logincontainer{
    display: flex;
    flex-direction: column;
    width:100vw;
    
    height: 100vh;
    
}
.logod{
    display: flex;
    flex-direction: column;
    height:22vh;
    width: 100vw;
    
    justify-content: flex-end;
    align-items: center;
}
.logod1{
    display: flex;
    
    widows: 473px;
}
.logind{
    display: flex;
    flex-direction: column;
    height:78vh;
    width: 100vw;;
    
}
.logincard{
    display:flex;
    height:71%;
    width: 100vw;
    
    align-items: flex-end;


}
.footercard{
    display:flex;
    height:29%;
    width: 100vw;
    
}
.logincardh{
    display:flex;
    flex-direction: row;
    height:90%;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 90%;
    
    
}
.logincardh1{
    display:flex;
    height:100%;
    width: 29vw;
    
    
}
.footercardh{
    display:flex;
    flex-direction: column;
    height:100%;
    width: 100%;
    
}
.footercardh1{
    display:flex;
    height:100%;
    
    
    justify-content: flex-end;
    align-items: flex-end;
    
}
.footercardh1 img{
    height: 214.68px;
    width: 380px;
  /* even more control with max-width */
    max-width: auto;
}
.logod img{
    height: auto;
    width: 100%;
  /* even more control with max-width */
    max-width: auto;
}
.footercardc{
display: flex;
flex-direction: column;
height: 65%;
justify-content: flex-end;
}
.footercardc1{
    display: flex;
    flex-direction: row;
    height:35%;
    
}
.footercardc11{
    display: flex;
    width:6%;
    
}
.footercardc12{
    display: flex;
    flex-direction: row;
    width:90%;

    border: white;
    border-top: gray;
    border-style: solid;
    border-width: 1px;
    
}
.footercardc121{
    display: flex;
    flex-direction: row;
    width:55%;
    
    align-items: center;
    justify-content: flex-start;

}
.footercardc121 >div{
    margin-left: 2%;
    font-family:"Poppins" ;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9vw;
    color:#255398;
}
.footercardc122{
    display: flex;
    width:45%;
    align-items: center;
    justify-content: flex-start;
}
.footercardc122 p{
font-family:"Poppins" ;
font-style: normal;
font-weight: normal;
font-size: 1.1vw;

}
.logincardhi1{
    display: flex;
    
    flex-basis: 53%;
    
    

}
.logincardhi2{
    display: flex;
    
    width: 20%;
    border: solid;
    border-color: whitesmoke;
    border-width: 1px;
    box-shadow: 0px 0px 20px rgba(92, 111, 139, 0.12);
    height: 68%;
    
    

}
.logincardhi3{
    display: flex;
    flex-basis: 2%;
    

}
@media only screen and (max-width: 1200px) {
    /* For mobile phones: */
    .logincardhi1{
        display: flex;
        
        flex-basis: 0%;
        
    
    }
    .logincardhi2{
        display: flex;
        flex-basis: 50%;
        width: 30%;
        height: 90%;
        
    
    }
    .logincardhi3{
        display: flex;
        flex-basis: 0%;
        
    
    }

    .footercardh1 img{
        height: auto;
        width: 30%;
      /* even more control with max-width */
        max-width: auto;
    }
    .logod img{
        margin-left: 20%;
        height: auto;
        width: 60%;
      /* even more control with max-width */
        max-width: auto;
    }

} 
@media only screen and (max-width: 600px){
    .logincardhi2{
        display: flex;
        margin-top: 10%;
        flex-basis: 80%;
        width: 20%;
        height: 100%;
        
    
    }
        .footercard{
        margin-top: 5vh;

        
    }
}
@media only screen and (max-height: 600px){
    .logincardhi2{
        margin-top: 10%;
        display: flex;
        flex-basis: 80%;
        height:110%;

        
        
    
    }
    .footercard{
        margin-top: 25vh;

        
    }
}